@import-normalize;
@font-face {
  font-family: "Matter";
  src: url("./assets/fonts/Matter-Medium.woff2") format("woff2"),
    url("./assets/fonts/Matter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  src: url("./assets/fonts/Matter-Bold.woff2") format("woff2"),
    url("./assets/fonts/Matter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  src: url("./assets/fonts/Matter-Regular.woff2") format("woff2"),
    url("./assets/fonts/Matter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  height: 100%;
  background-color: #333;
  font-family: "Matter", Helvetica, Arial, sans-serif;
}

p {
  font-size: 1.6rem;
}
